
body {
    margin: 0 0 100px; /* bottom = footer height */
    font-family: 'Raleway' !important;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    background-color: black;
}

h2, h3{
    font-family: 'Raleway';

}

#title{
    text-align: left;
    padding-left: 20px;
}

img#logo {
    height: 80px;
    top:0px;
}

.description {
    font-family: 'Raleway';
    background-color: grey;
    border-radius: 3px;
    position:relative;
    bottom:0px;
    float:left;
}

.incidents{
    border-width: thin;
}

form, #form {
    width:200px;
    float:left;
    display:inline-block;
    padding:20px;
    margin-left: 20px;

}

#content {

}


#wrapper {
    width: 100%;
    margin: 0 auto;
}


.date {
    color:white;
}

.github {
    float:right;
}

.flash_message {
    width:100%;
    text-align:center;
    padding:5px;
    position:fixed;
    top:0;
    left:0;
    background-color:lightblue;
    font-weight:bold;
}

.draw-button {
    position:absolute;
    top:80px;
    right:20px;
    z-index: 100;
}


html { height: 100% }
/*body { height: 100%; margin: 0px; padding: 0px }*/
#map_canvas {
    height: 600px;
    width:  60%;
    float:right;
}
#map_canvas img {
    max-width: none;
}


@media (max-width: 600px) {
    .logo {
        width:100%;
    }
}

nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
    margin-left: 10px;
    margin-bottom: 10px;
}

footer a:link, nav a:link {
    text-decoration:none;
}

nav ul li {
    display:inline;
    background-color:lightgrey;
    padding:5px;
    margin-right:5px;
    border-radius: 5px;
    padding:4px;
}

#cyclist, #motorist, #pedestrian {
    width:150px;
    padding:10px;
}

.map_search {
    margin-left: 10px;
}

#cyclist_small, #motorist_small, #pedestrian_small {
    width:80px;
    padding:10px;
}

.incident_single {
    margin-left: 20px;
}

.incident{
    margin-left: 20px;
}

.links {
    float:right;
    padding-right:20px;

}
#about {
    float:right
}
